html{
	font: 100%/1 sans-serif;
	background-color: #ffffff;
}

img{
	max-width: 100%;
	height: auto;
}

body {
	margin: 0 auto;
}

#title{
  background: #f96161;
  border-bottom: 4px solid white;
}

#title img{
  height: .5em;
  width: auto;
  padding: 0;
  margin-right: -.28em;
  display: inline-block;
  padding-bottom: 2em;
}

#squiggle-top{
  text-align: center;
  padding-top: 6em;
}


#squiggle{
  text-align: center;
  padding-top: 1em;
  padding-bottom: 4em;
}

h1{
  font-size: 5em;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding-top: .3em;
  padding-bottom: .5em;
}

li #nav-one a{
  margin: 0;
  padding: 0;
  display: block;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #e5c3c6;
  border-bottom: 4px solid white;
}

li #nav-two a{
  margin: 0;
  padding: 0;
  display: block;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #efd06e;
  border-bottom: 4px solid white;
}

li #nav-three a{
  margin: 0;
  padding: 0;
  display: block;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #7fc5c0;
  border-bottom: 4px solid white;
}

nav ul{
	list-style: none;
  text-align: center;
	padding: 0;
	margin: 0;
}

h4,
p{
  padding-right: 1em;
  padding-left: 1em;
  color: #afafaf;
  font-family: 'Poppins', sans-serif;
}

h3{
  font-size: 2em;
  color: #afafaf;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

h4{
  font-size: 1.4em;
}

ol{
  margin-left: 2em;
  font-size: .9em;
  color: #afafaf;
  line-height: 1.4em;
}

p{
  line-height: 1.4em;
  font-size: 1.2em;
}

#avocado{
  padding-top: 6em;
}

#turmeric{
  margin-top: 10em;
}

#bean{
  margin-top: 10em;
}

#avocado img{
  height: auto;
  width: 20%;
  display: block;
  margin: 0 auto;
  padding-bottom: 3em;
}

#bean img{
  height: auto;
  width: 20%;
  display: block;
  margin: 0 auto;
  padding-bottom: 3em;
}

#turmeric img{
  height: auto;
  width: 20%;
  display: block;
  margin: 0 auto;
  padding-bottom: 3em;
}

#color-block{
  margin: 0 auto;
  height: 3em;
  display: block;
  width: 100%;
  overflow: hidden;
}

.one{
  background: #e5c3c6;
  display: inline-block;
  height: 100%;
  width: 25%;
  float: left;
}

.two{
  background: #ceafb2;
  display: inline-block;
  height: 100%;
  width: 25%;
  float: left;
}

.three{
  background: #b79c9e;
  display: inline-block;
  height: 100%;
  width: 25%;
  float: left;
}

.four{
  background: #a0888a;
  display: inline-block;
  height: 100%;
  width: 25%;
  float: left;
}

#t-color-block{
  margin: 0 auto;
  height: 3em;
  display: block;
  width: 100%;
  overflow: hidden;
}

.t-one{
  background: #efd06e;
  display: inline-block;
  height: 100%;
  width: 25%;
  float: left;
}

.t-two{
  background: #d7bb63;
  display: inline-block;
  height: 100%;
  width: 25%;
  float: left;
}

.t-three{
  background: #bfa658;
  display: inline-block;
  height: 100%;
  width: 25%;
  float: left;
}

.t-four{
  background:#a7914d;
  display: inline-block;
  height: 100%;
  width: 25%;
  float: left;
}

#b-color-block{
  margin: 0 auto;
  height: 3em;
  display: block;
  width: 100%;
  overflow: hidden;
}

.b-one{
  background: #7fc5c0;
  display: inline-block;
  height: 100%;
  width: 25%;
  float: left;
}

.b-two{
  background: #72b1ac;
  display: inline-block;
  height: 100%;
  width: 25%;
  float: left;
}

.b-three{
  background: #659d99;
  display: inline-block;
  height: 100%;
  width: 25%;
  float: left;
}

.b-four{
  background: #588986;
  display: inline-block;
  height: 100%;
  width: 25%;
  float: left;
}

#white{
  display: none;
}


/* ------- Media Query --------- */


@media (min-width: 60em){

nav{
  display: none;
}

h1,
h3,
h4,
h6,
ul,
ol,
p{
  color: #fff;
}

p{
  font-size: 1em;
}

#squiggle-top img{
  height: 10px;
  width: auto;
}

#squiggle img{
  height: 10px;
  width: auto;
}

#avocado img{
  display: none;
  margin: 0;
}

#turmeric img{
  display: none;
  margin: 0;
}

#bean img{
  display: none;
  margin: 0;
}

#title{
  margin: 1em;
  margin-bottom: 0;
}

#avocado{
  width: 35%;
  background: #e5c3c6;
  margin-top: 1em;
  margin-left: 1em;
  padding: 0;
}

#turmeric{
  width: 35%;
  background: #efd06e;
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
  padding: 0;
}


#bean{
  width: 35%;
  background: #7fc5c0;
  margin-top: 1em;
  margin-right: 1em;
  padding: 0;
}

main{
  display: flex;
}

#white{
  display: block;
  height: 40%;
  width: auto;
  margin: 0 auto;
}

#white img{
  display: block;
  margin: 0 auto;
  padding-top: 3em;
}


}
