html{
	font: 100%/1 sans-serif;
	background-color: #ffffff;
}

img{
	max-width: 100%;
	height: auto;
}

body {
	margin: 0 auto;
}

#title{
  background: #f96161;
  border-bottom: 4px solid white;
}

#title img{
  height: .5em;
  width: auto;
  padding: 0;
  margin-right: -.28em;
  display: inline-block;
  padding-bottom: 2em;
}

#squiggle-top{
  text-align: center;
  padding-top: 6em;
}


#squiggle{
  text-align: center;
  padding-top: 1em;
  padding-bottom: 4em;
}

h1{
  font-size: 5em;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding-top: .3em;
  padding-bottom: .5em;
}

li #nav-one a{
  margin: 0;
  padding: 0;
  display: block;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #e5c3c6;
  border-bottom: 4px solid white;
}

li #nav-two a{
  margin: 0;
  padding: 0;
  display: block;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #cfd06e;
  border-bottom: 4px solid white;
}

li #nav-three a{
  margin: 0;
  padding: 0;
  display: block;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #7fc5c0;
  border-bottom: 4px solid white;
}

nav ul{
	list-style: none;
  text-align: center;
	padding: 0;
	margin: 0;
}


/*nav a img{
  height: 3em;
  width: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}*/

h3,
h4,
p{
  padding-right: 1em;
  padding-left: 1em;
}

#avocado{
  padding-top: 3em;
}
